body,
html {
  scroll-behavior: smooth;
  font-family: "Poppins", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

/* main color design */
:root {
  --darkBlue: #2c3e50;
  --lightBlue: #05a0d1;
  --offWhite: rgb(225, 225, 225);
  --limeGreen: rgba(0, 193, 102, 1);
}

#pageReveal {
  transition: all 0.5s ease-in-out;
  position: absolute;

  background: var(--darkBlue);
  width: 100%;
  height: 100%;
  z-index: 100;
}

#myNameIs {
  position: relative;
  color: white;
  width: 250px;
  height: 150px;
  top: 85%;
  border-radius: 30px;
  background: var(--limeGreen);
  line-height: 15px;
  border: 5px white solid;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}

#myNameIs h1 {
  margin-top: 5%;
  font-weight: 600;
}
#myNameIs h2 {
  font-weight: 400;
}
#myNameIs::after {
  content: "Rybread";
  color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 350%;
  position: relative;
  background: white;
  width: inherit;
  height: 50px;
  top: -2%;
  font-family: "Caveat", cursive;
}

.section {
  position: relative;
  height: 100vh;
  width: calc(100vw-10px);
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  justify-items: center;
  background: var(--darkBlue);
}

.video {
  position: relative;
  height: 100vh;
  opacity: 1;
}

.videoTextBox {
  transition: all 0.5s ease-in-out;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background: var(--darkBlue);
  text-align: center;
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  justify-items: center;
  align-items: center;
}

.videoTextBoxHeader {
  grid-row-start: 2;
  font-size: 200%;
  color: var(--offWhite);
  margin: 3%;
  background: var(--limeGreen);
  padding: 0.5em 6em;
  position: relative;
  top: -5%;
}

.videoTextBoxBody {
  grid-row-start: 3;
  color: var(--offWhite);
  margin: 5%;
  width: 70%;
}

#bttnHolder {
  grid-row-start: 4;
  height: 50px;
  display: flex;
  gap: 30%;
  margin-bottom: 10px;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
}
.aboutMeBttn {
  transition: all 0.25s ease-in;
  color: var(--offWhite);
  padding: 0.5em;
  border-radius: 4px;
  border-left: transparent 2px solid;
  border-right: transparent 2px solid;
  border-top: var(--limeGreen) 2px solid;
  border-bottom: var(--limeGreen) 2px solid;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}
.aboutMeBttn:hover {
  transform: scale(1.1);
  border-left: var(--limeGreen) 2px solid;
  border-right: var(--limeGreen) 2px solid;
  border-top: var(--limeGreen) 2px solid;
}

#arrowDown {
  animation: arrowDownMove 2s ease-in-out infinite;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(100vh - 150px);
  z-index: 200;
  width: 50px;
  height: 50px;
  background: var(--offWhite);
  clip-path: polygon(56% 4%, 60% 0%, 100% 50%, 60% 100%, 56% 96%, 94% 50%);
  transform: rotate(90deg);
}

label,
input,
textarea {
  display: block;
}

#contactMe {
  position: relative;
  background: var(--darkBlue);
  color: var(--offWhite);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
  overflow: hidden;
}

.email,
.message {
  text-align: center;
  color: rgb(100, 100, 100);
  font-size: 110%;
  height: 20px;
  width: 300px;
  border: rgb(150, 150, 150) 2px solid;
  border-radius: 0.25em;
  background: rgb(200, 200, 200);
  outline: none;
  margin: 1em;
}
.message {
  height: 100px;
}

.submit {
  color: var(--offWhite);
  transition: all 0.2s ease-in-out;
  padding: 1em;
  margin-top: 1em;
  cursor: pointer;
  background: transparent;
  border-radius: 4px;
  border-left: transparent 2px solid;
  border-right: transparent 2px solid;
  border-top: var(--offWhite) 2px solid;
  border-bottom: var(--offWhite) 2px solid;
}

.submit:hover {
  transform: scale(1.1);
  border-left: var(--offWhite) 2px solid;
  border-right: var(--offWhite) 2px solid;
  border-top: var(--offWhite) 2px solid;
}

@keyframes arrowDownMove {
  0% {
    opacity: 0;
    top: calc(100vh - 150px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: calc(100vh - 80px);
  }
}

@media screen and (max-width: 1150px) {
  #myNameIs {
    width: 220px;
    height: 125px;
    top: 85%;
    border-radius: 30px;
    line-height: 10px;
    border: 5px white solid;
  }
  #myNameIs::after {
    font-size: 300%;
    height: 40px;
    top: 0%;
  }
  .section {
    grid-template-columns: 100%;
  }
  .videoTextBox {
    background: rgba(44, 62, 80, 0.5);
    grid-column: 1/1;
    grid-row: 1/1;
  }
  .videoTextBoxHeader {
    white-space: nowrap;
    background: rgba(0, 193, 102, 1);
    padding: 0.5em 2em;
    font-size: 180%;
  }
  .videoTextBoxBody {
    background: rgba(44, 62, 80, 0.85);
    width: calc(75%-2em);
    padding: 1em 4em;
  }
  .video {
    grid-column: 1/1;
    grid-row: 1/1;
    transform: scale(1.025);
  }
}
