:root {
  --main-color: rgb(78, 198, 198);
  --second-color: rgb(109, 200, 228);
  --third-color: rgb(179, 179, 255);
  --fourth-color: #eba2a8;
  --offWhite-color: rgba(235, 235, 235, 1);
  --darkBlue: #2c3e50;
}

html,
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-flow: column;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

#siteContainer {
  height: 100vh;
}

#background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -302;
  background: #2c3e50;
}

#returnBox {
  display: flex;
  margin: 5%;
  align-items: center;
  justify-content: center;
}

#returnArrow {
  position: relative;
  background: var(--offWhite-color);
  width: 40px;
  height: 40px;

  clip-path: polygon(56% 4%, 60% 0%, 100% 50%, 60% 100%, 56% 96%, 94% 50%);
  transform: rotate(180deg);
}
#returnArrowText {
  transition: all 0.2s ease-out;
  position: relative;
  color: var(--offWhite-color);
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5em;
}
#returnArrowText:hover {
  transform: scale(1.05);
}

#loopingLottie {
  position: relative;
  margin: 0 auto;
  top: -20%;
  transform-origin: center;
  transform: scale(0.5);
}

#videoPlayer {
  animation: videoPlayerPopUp 1s ease-in-out;
  position: fixed;
  width: fit-content;
  height: fit-content;
  border-radius: 25px;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  left: 50%;
  top: 95%;
  transform: translateX(-50%) translateY(-100%);

  background: #f6cb4a;
}
#videoPlayer::before {
  content: "";
  position: absolute;
  width: 25%;
  height: 20%;

  left: 50%;
  top: 100%;
  transform: translateX(-50%);

  background: linear-gradient(0deg, hsl(44, 99%, 36%), #edb201);
}

#videoPlayer iframe {
  max-height: 100%;
  max-width: 100%;
  border: 10px rgb(200, 200, 200) solid;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.75) 0px 0px 10px;
}

.videoInlay {
  min-width: 100%;
  min-height: 360px;
  border: none;
}

#searchBoxContainer {
  animation: fadeInScaleIn 1s ease-in-out;
  display: none;
  width: 100%;
  position: relative;
}

#searchBoxFlex {
  position: relative;
  margin: 0 auto;
  width: fit-content;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  box-shadow: rgba(0, 0, 0, 1) 0px 20px 50px;
}

#searchBox {
  text-decoration: none;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 35px;
  margin: 0.5em;
}
#searchBox:focus {
  outline-width: 0;
}

#searchSubmit {
  user-select: none;
  position: relative;
  color: white;
  transition: background 0.25s ease-out;
  font-weight: 300;
  text-align: center;
  border-radius: 5px;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0.5em;
  background: var(--third-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  cursor: pointer;
}
#searchSubmit:hover {
  background: var(--second-color);
}

#videoBoxContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: top center;
  justify-content: center;
  margin-top: 40px;
}
#videoBoxContainer::after {
  content: "";
  width: 100%;
  height: 200px;
}

.videoBox {
  transition: all 0.5s ease-out;
  overflow: hidden;
  animation: fadeInScaleIn 1s ease-in-out;
  transform-origin: center;
  z-index: 1;
  padding: 10px;
  margin: 25px;
  width: 500px;
  text-align: center;
  font-weight: 300;
  border-radius: 12px;
  background: var(--offWhite-color);
  box-shadow: rgba(0, 193, 102, 0.4) -1px 1px, rgba(0, 193, 102, 0.4) -2px 2px, rgba(0, 193, 102, 0.3) -3px 3px, rgba(0, 193, 102, 0.4) -4px 4px,
    rgba(0, 193, 102, 0.2) -5px 5px;
}
.videoBox:hover {
  border-radius: 20px;
  box-shadow: rgba(240, 46, 170, 0.3) -6px 6px, rgba(240, 46, 170, 0.2) -12px 12px, rgba(240, 46, 170, 0.1) -18px 18px;
}

.videoBox iframe {
  animation: fadeInScaleIn 1s ease-in-out;
  margin: 0px 0px 20px 0px;
}

.videoBox .description {
  animation: fadeInScaleIn 1s ease-in-out;
  margin: 5% 5% 10% 5%;
  text-align: center;
  background: hsl(210, 29%, 80%);
  padding: 20px;
  border-radius: 0.25em;
}

.videoBox .title {
  animation: fadeInScaleIn 1s ease-in-out;
  margin-top: 10%;
  font-size: 150%;
  text-align: center;
  font-weight: 700;
}

.videoBoxImageContainer {
  animation: fadeInScaleIn 1s ease-in-out;
  width: 500px;
  height: 281.25px;
  margin-top: -284.25px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.videoStill {
  animation: fadeInScaleIn 1s ease-in-out;
  transition: all 0.5s ease-out;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  opacity: 0;
}

.lottiePlay {
  transition: all 0.5s ease-out;
  position: relative;
  transform-origin: center;
  transform: scale(0.45);
  opacity: 0.75;
  cursor: pointer;
}
.lottiePlay:hover {
  transform: scale(0.65);
}

.xCloseButton {
  transition: all 0.5s ease-out;
  width: 25px;
  height: 25px;
  margin: 10px 0px 0px 20px;
  position: relative;
  cursor: pointer;
  opacity: 0.5;
}
.xCloseButton:hover {
  opacity: 1;
  transform: scale(1.5);
}

#tagContainer {
  animation: fadeInScaleIn 1s ease-in-out;
  padding-top: 10px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.tag {
  position: relative;
  overflow: hidden;
  user-select: none;
  transition: all 0.25s ease-out;
  white-space: nowrap;
  display: table;
  text-align: center;
  color: rgb(100, 100, 120);
  font-weight: 300;
  border-radius: 4px;
  padding: 0.5em;
  margin: 0.5em;
  background: var(--offWhite-color);
  box-shadow: rgba(0, 193, 102, 0.4) -1px 1px, rgba(0, 193, 102, 0.4) -2px 2px, rgba(0, 193, 102, 0.3) -3px 3px, rgba(0, 193, 102, 0.4) -4px 4px,
    rgba(0, 193, 102, 0.2) -5px 5px, rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset, rgba(255, 255, 255, 0.25) 0px 0px 2px inset;
  cursor: pointer;
}

.tag:hover {
  border-radius: 12px;
}

.tag:hover::after {
  animation: tagCircle 0.8s ease-in-out;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 193, 102, 0.4);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0);
}

.tagToggled {
  color: var(--offWhite-color);
  background: rgba(240, 46, 170, 1);
  border-radius: 8px;
  box-shadow: rgba(0, 193, 102, 0.4) -1px 1px, rgba(0, 193, 102, 0.4) -3px 3px, rgba(0, 193, 102, 0.3) -5px 5px, rgba(0, 193, 102, 0.4) -7px 7px,
    rgba(0, 193, 102, 0.2) -9px 9px, rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset, rgba(255, 255, 255, 0.25) 0px 0px 2px inset;
  border: 2px rgba(51, 255, 156, 0.5) solid;
}

.a2z {
  grid-column: 5;
}

@keyframes fadeInScaleIn {
  0% {
    opacity: 0;
    transform: scale(0.25, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes videoPlayerPopUp {
  0% {
    opacity: 0;
    top: 160%;
  }
  100% {
    opacity: 1;
    top: 95%;
  }
}

@keyframes left2right {
  0% {
    left: -100%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}

@keyframes right2left {
  0% {
    left: 0%;
  }
  50% {
    left: -50%;
  }
  100% {
    left: 0%;
  }
}

@keyframes backgroundFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes tagCircle {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(0);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) scale(4);
    opacity: 0;
  }
}

@media screen and (max-width: 500px) {
  #loopingLottie {
    top: -20%;
  }
  #tagContainer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px 5px;
  }
  .tag {
    font-size: 70%;
    font-weight: 300;
    padding: 0.35em;
    margin: 0.35em;
  }
  .tag:hover {
    border-radius: 4px;
  }

  .search {
    grid-column: auto;
  }
  .a2z {
    grid-column: auto;
  }
  .videoBox {
    width: 340px;
  }
  .videoBox iframe {
    width: 340px;
    min-height: 210px;
  }

  .videoBoxImageContainer {
    animation: fadeInScaleIn 1s ease-in-out;
    width: 340px;
  }

  .videoBox .description {
    font-size: 80%;
    font-weight: 200;
  }

  .videoBox .title {
    font-weight: 600;
  }

  .lottiePlay {
    position: relative;
    opacity: 0.75;
    margin-top: 100px;
    cursor: pointer;
  }
  .lottiePlay:hover {
    transform: scale(0.45);
  }
}

@media screen and (min-width: 1000px) {
  #siteContainer {
    position: relative;
    width: 75vw;
    margin: 0 auto;
  }
}
